{% extends 'base.html.twig' %}

{% block title 'pin' %}

{% block body %}
    <article>
        <h2>{{ pin.title }}</h2>
        <p>{{ pin.description }}</p>
    </article>
    <a href="{{ path('app_pins_edit', {id: pin.id})}}">Edit</a> |
    <a href="" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js_pin_delete').submit()">Delete</a> |
    <a href="{{ path('app_home') }}">Go back</a>
    <form id="js_pin_delete" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="post" style="display: none">
        <input type="hidden" name="_method" value="Delete">
    </form>
{% endblock %}
